force-app/main/default/flows/Approval_Process_Project_Task_PM_Code_Reviewer_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Stores the value for the status of a step that&apos;s been approved. The value of the constant must be Approve.</description>
        <name>const_Approved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Submission_Approved_or_Rejected</name>
        <label>Is Submission Approved or Rejected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Process_the_Rejection_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PM_Code_Reviewer_Approval.Outputs.approvalDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>const_Approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_the_Approved_Submission</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>Approval workflow that triggers when a Project Task is submitted for PM/Code Reviewer review. When Status is set to &quot;In Review&quot; and Reviewed_by_PM_Code_Reviewer__c is false, this flow sends an approval request to the PM/Code Reviewer. Upon approval, it sets Reviewed_by_PM_Code_Reviewer__c to true, which triggers the Client Completion Approval Process. Upon rejection, it sets Reviewed_by_PM_Code_Reviewer__c to false and Status back to &quot;In Progress&quot;.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_txt_RecordId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Approval Process - Project Task - PM Code Reviewer Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Process - Project Task - PM Code Reviewer Approval</label>
    <orchestratedStages>
        <name>PM_Code_Reviewer_Approval_Stage</name>
        <label>PM Code Reviewer Approval Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Submission_Approved_or_Rejected</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>PM_Code_Reviewer_Approval</name>
            <actionName>standard_approvals__EvaluateApproval</actionName>
            <actionType>stepApproval</actionType>
            <assignees>
                <assignee>
                    <stringValue>andy.haas@milestoneconsulting.tech.dev</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <canAssigneeEdit>true</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>form_txt_RecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailSubject</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__CustomEmailBody</name>
            </inputParameters>
            <label>PM Code Reviewer Approval</label>
            <outputConfigParams>
                <name>approvalComments</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <outputConfigParams>
                <name>approvalDecision</name>
                <value xsi:nil="true"/>
            </outputConfigParams>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>true</shouldLock>
            <stepSubtype>ApprovalStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Process_the_Approved_Submission</name>
        <label>Process the Approved Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Mark_Task_As_PM_Approved</name>
            <actionName>Autolaunch_Project_Task_PM_Code_Reviewer_Approved</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>txt_ApproveMessage</name>
                <value>
                    <elementReference>PM_Code_Reviewer_Approval.Outputs.approvalComments</elementReference>
                </value>
            </inputParameters>
            <label>Mark Task As PM Approved</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Process_the_Rejection_Submission</name>
        <label>Process the Rejection Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Mark_Task_as_PM_Rejected</name>
            <actionName>Autolaunch_Project_Task_PM_Code_Reviewer_Rejected</actionName>
            <actionType>stepBackground</actionType>
            <canAssigneeEdit>false</canAssigneeEdit>
            <debugSimulateStep>false</debugSimulateStep>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>txt_DeclineMessage</name>
                <value>
                    <elementReference>PM_Code_Reviewer_Approval.Outputs.approvalComments</elementReference>
                </value>
            </inputParameters>
            <label>Mark Task as PM Rejected</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <shouldLock>false</shouldLock>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ApprovalWorkflow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PM_Code_Reviewer_Approval_Stage</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reviewed_by_PM_Code_Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>ApprovalRecall</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
