force-app/main/default/flows/Autolaunch_Project_Task_Client_Approved_Backlog_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Client_Approved_Completed_Task_Email</name>
        <label>Send Client Approved Completed Task Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Project_Task_Submission_for_Client_Approved_Complete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Approval_Record.PM_Approver_User__r.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <stringValue>kurt.savage@milestoneconsulting.tech</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XEc00000F3gi1MAB</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Approval_Record.Project_Manager__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Approval_Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Client_Approved_Task_Email</name>
        <label>Send Client Approved Task Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Project_Task_Submission</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Approval_Record.PM_Approver_User__r.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <stringValue>kurt.savage@milestoneconsulting.tech</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XEc00000F3dnNMAR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Approval_Record.Project_Manager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_Approval_Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Record</name>
        <label>Unlock Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Status_Backlog_or_In_Review</name>
        <label>Is Status Backlog or In Review?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Client_Approved_Completed_Task_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status is In Review</defaultConnectorLabel>
        <rules>
            <name>Status_is_In_Backlog</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval_Record.Client_Approved_for_Development__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approval_Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approves Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Client_Approved_Task_Email</targetReference>
            </connector>
            <label>Status is In Backlog</label>
        </rules>
    </decisions>
    <description>This task will run whenever the client approves a backlog task.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_num_NewStepNumber</name>
        <dataType>Number</dataType>
        <expression>{!Get_Approval_Record.Current_Submission_Step__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>form_txt_SubmittingUserRole</name>
        <dataType>String</dataType>
        <expression>CASE(
  {!$User.ContactId},
  {!Get_Approval_Record.Project_Manager__c}, &quot;Project Manager&quot;,
  {!Get_Approval_Record.Client_User__c}, &quot;Client&quot;,
  {!Get_Approval_Record.Developer__c}, &quot;Developer&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Autolaunch - Client Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Autolaunch - Project Task - Client Approved Backlog Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Task_Submission</name>
        <label>Create Project Task Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Project_Task_Client_Approved_Backlog_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver_Type__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Resolved__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Project_Task_Submission__c</field>
            <value>
                <elementReference>Get_Approval_Record.Most_Recent_Project_Task_Submission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Project_Task_Status__c</field>
            <value>
                <elementReference>Get_Approval_Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Task__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Status__c</field>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Step__c</field>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Type__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitting_User_Role__c</field>
            <value>
                <elementReference>form_txt_SubmittingUserRole</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Task_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Task_Submission_for_Client_Approved_Complete</name>
        <label>Create Project Task Submission for Client Approved Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Project_Task_Client_Approved_Complete_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver_Type__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Resolved__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Submitted__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Project_Task_Submission__c</field>
            <value>
                <elementReference>Get_Approval_Record.Most_Recent_Project_Task_Submission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Project_Task_Status__c</field>
            <value>
                <elementReference>Get_Approval_Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Task__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Status__c</field>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Step__c</field>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Type__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitting_User_Role__c</field>
            <value>
                <elementReference>form_txt_SubmittingUserRole</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Task_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Record</name>
        <label>Get Approval Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_Backlog_or_In_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>The client has approved a backlog item. Time to update to &quot;Pending&quot; and that the client has reviewed</description>
        <name>Update_Project_Task_Client_Approved_Backlog_Item</name>
        <label>Update Project Task - Client Approved Backlog Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unlock_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Submission_Step__c</field>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Project_Task_Submission__c</field>
            <value>
                <elementReference>Create_Project_Task_Submission.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Status__c</field>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>The client has approved a backlog item. Time to update to &quot;Pending&quot; and that the client has reviewed</description>
        <name>Update_Project_Task_Client_Approved_Complete_Item</name>
        <label>Update Project Task - Client Approved Complete Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Unlock_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Submission_Step__c</field>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Status__c</field>
            <value>
                <stringValue>Client Approves Completion</stringValue>
            </value>
        </inputAssignments>
        <object>Project_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>txt_PTC_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!txt_ApproveMessage}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_ApproveMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
