force-app/main/default/flows/Create_Release_Note_from_Project_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Release_Note_Values</name>
        <label>Set Release Note Values</label>
        <locationX>50</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>newReleaseNote.Release_Notes_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Release_Notes_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newReleaseNote.Release_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Release_Version</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newReleaseNote.Release_Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Release_Tag</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Release_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Release_Note_to_Task</name>
        <label>Link Release Note to Task</label>
        <locationX>50</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>currentTask.Release_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newReleaseNote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Task</targetReference>
        </connector>
    </assignments>
    <description>Screen flow to create a Release Note from a Project Task and automatically link it.</description>
    <interviewLabel>Create Release Note from Project Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Release Note from Project Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Release_Note</name>
        <label>Create Release Note</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <inputReference>newReleaseNote</inputReference>
        <connector>
            <targetReference>Link_Release_Note_to_Task</targetReference>
        </connector>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Task</name>
        <label>Get Project Task</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Release_Note_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <inputReference>recordId</inputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Release_Notes__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Task</name>
        <label>Update Project Task</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <inputReference>currentTask</inputReference>
        <connector>
            <targetReference>FlowEnd</targetReference>
        </connector>
    </recordUpdates>
    <screens>
        <name>Create_Release_Note_Screen</name>
        <label>Create Release Note</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Release_Note_Values</targetReference>
        </connector>
        <fields>
            <name>Release_Notes_Text</name>
            <fieldText>Release Notes Text</fieldText>
            <fieldType>LongTextArea</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
        </fields>
        <fields>
            <name>Release_Version</name>
            <fieldText>Release Version</fieldText>
            <fieldType>Lookup</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Release_Version__c</stringValue>
                </value>
            </inputParameters>
        </fields>
        <fields>
            <name>Release_Tag</name>
            <fieldText>Release Tag</fieldText>
            <fieldType>Lookup</fieldType>
            <isRequired>false</isRequired>
            <isVisible>true</isVisible>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Release_Tag__c</stringValue>
                </value>
            </inputParameters>
        </fields>
        <helpText>Enter the release notes information. The release note will be automatically linked to this task.</helpText>
        <pausedText>Release Note creation paused</pausedText>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>newReleaseNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Release_Notes__c</objectType>
    </variables>
    <variables>
        <name>Release_Notes_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Release_Version</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Release_Tag</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
