force-app/main/default/flows/Create_Release_Note_from_Project_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Autolaunched flow that creates a Release Note record and associates it to the originating Project Task.</description>
    <interviewLabel>Create Release Note from Project Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Release Note from Project Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Release_Note_Record</name>
        <label>Create Release Note Record</label>
        <locationX>320</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>varReleaseNoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Project_Task_With_Release_Note</targetReference>
        </connector>
        <inputAssignments>
            <field>Release_Notes_Text__c</field>
            <value>
                <elementReference>varReleaseNotesText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Tag__c</field>
            <value>
                <elementReference>varReleaseTagId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release_Version__c</field>
            <value>
                <elementReference>varReleaseVersionId</elementReference>
            </value>
        </inputAssignments>
        <object>Release_Notes__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Project_Task_With_Release_Note</name>
        <label>Update Project Task With Release Note</label>
        <locationX>560</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Release_Notes__c</field>
            <value>
                <elementReference>varReleaseNoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>80</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Create_Release_Note_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varReleaseNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReleaseNotesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReleaseTagId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReleaseVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
