force-app/main/default/flows/Create_Quickbooks_Invoice_from_Project_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the temp item to collection</description>
        <name>Add_Item_to_Collection</name>
        <label>Add Item to Collection</label>
        <locationX>490</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>colRecInvoiceItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempRecInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCreate_Invoice_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the temp item to collection</description>
        <name>Add_Item_to_Collection_0</name>
        <label>Add Item to Collection</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>colRecInvoiceItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempRecInvoiceItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoice_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recQBInvoice_Values</name>
        <label>Set recQBInvoice Values</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>recQBInvoice.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQBInvoice.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bill_To_Contact.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQBInvoice.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQBInvoice.Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Account__r.Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQBInvoice.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQBInvoice.Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QB_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TEMP_Create_Invoice_Item</name>
        <label>TEMP: Create Invoice Item</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreate_Invoice_Items.Sum_of_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreate_Invoice_Items.Contract_Pricing__r.Calculated_Per_Hour_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Service_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreate_Invoice_Items.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Discount_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreate_Invoice_Items.Contract_Pricing__r.Discount_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Discount_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreate_Invoice_Items.Contract_Pricing__r.Discount_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreate_Invoice_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Quickbooks_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recQBInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TEMP_Create_Invoice_Item_0</name>
        <label>TEMP: Create Invoice Item</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Set_Cost_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Service_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Discount_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Discount_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Product__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempRecInvoiceItem.Quickbooks_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recQBInvoice.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Item_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_Set_Cost</name>
        <label>Project Set Cost</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>LoopCreate_Invoice_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Per-Hour Rate</defaultConnectorLabel>
        <rules>
            <name>Set_Cost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.Set_Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TEMP_Create_Invoice_Item_0</targetReference>
            </connector>
            <label>Set Cost</label>
        </rules>
    </decisions>
    <description>Get the timesheet and project info and create a Quickbook invoice and Quickbook items

20210728 -- Updated Project to Invoiced
20210804 -- Updated timesheet entries to include pricing | Update for set pricing</description>
    <interviewLabel>Create Quickbooks Invoice from Project Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quickbooks Invoice from Project Record</label>
    <loops>
        <name>LoopCreate_Invoice_Items</name>
        <label>Loop Create Invoice Items</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Timesheet_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TEMP_Create_Invoice_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Invoice_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Items</name>
        <label>Create Invoice Items</label>
        <locationX>226</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Project_to_Invoiced</targetReference>
        </connector>
        <inputReference>colRecInvoiceItems</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates the main invoice for billing</description>
        <name>Create_QB_Invoice</name>
        <label>Create QB Invoice</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Project_Set_Cost</targetReference>
        </connector>
        <inputReference>recQBInvoice</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Bill_To_Contact</name>
        <label>Get Bill To Contact</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_recQBInvoice_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bill_to__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Temp lookup until Salesforce allows Subflows in Record Triggers.</description>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Entries</name>
        <label>Get Timesheet Entries</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bill_To_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Sheet_Entries__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_to_Invoiced</name>
        <label>Update Project to Invoiced</label>
        <locationX>226</locationX>
        <locationY>1550</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoiced__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>All of the invoice items to be created</description>
        <name>colRecInvoiceItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quickbook_Invoice_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recQBInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quickbooks_Invoice__c</objectType>
    </variables>
    <variables>
        <description>Used to assign to colRecInvoiceItem</description>
        <name>tempRecInvoiceItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quickbook_Invoice_Item__c</objectType>
    </variables>
</Flow>
