force-app/main/default/flows/Record_Trigger_Project_Task_Sync_Approver_And_Developer_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Client_Approver</name>
        <label>Set Client Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Client_Approver_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Client_Approver_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gate_Developer_lookup_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Client_Approver_User_to_Blank</name>
        <label>Set Client Approver User to Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Client_Approver_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Client_Approver_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Developer_User</name>
        <label>Set Developer User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Developer_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Developer_User_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_need_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Developer_User_to_Blank</name>
        <label>Set Developer User to Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Developer_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Developer_User_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PM_Approver</name>
        <label>Set PM Approver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.PM_Approver_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PM_Approver_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gate_Client_User_lookup_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PM_Approver_User_to_Blank</name>
        <label>Set PM Approver User to Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.PM_Approver_User__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_PM_Approver_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Id</name>
        <label>Set Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gate_Project_Manager_lookup_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_get_client_approver_return_null</name>
        <label>Did get client approver return null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Gate_Developer_lookup_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client Approver Not Found</defaultConnectorLabel>
        <rules>
            <name>Client_Approver_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Client_Approver_Records</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Approver</targetReference>
            </connector>
            <label>Client Approver Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_get_developer_user_return_null</name>
        <label>Did get developer user return null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Do_we_need_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Developer User Not Found</defaultConnectorLabel>
        <rules>
            <name>Developer_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Developer_User_Records</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Developer_User</targetReference>
            </connector>
            <label>Developer User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_get_PM_approver_return_null</name>
        <label>Did get PM approver return null?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Gate_Client_User_lookup_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PM Approver Not Found</defaultConnectorLabel>
        <rules>
            <name>PM_Approver_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PM_Approver_Records</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PM_Approver</targetReference>
            </connector>
            <label>PM Approver Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_to_update</name>
        <label>Do we need to update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>We do not need to update</defaultConnectorLabel>
        <rules>
            <name>We_need_to_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Set_PM_Approver_User_to_Blank</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_PM_Approver</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Client_Approver_User_to_Blank</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Client_Approver</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Developer_User_to_Blank</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Developer_User</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Task</targetReference>
            </connector>
            <label>We need to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gate_Client_User_lookup_changed</name>
        <label>Client User lookup changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Gate_Developer_lookup_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip client sync</defaultConnectorLabel>
        <rules>
            <name>Yes_sync_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Client_User_Lookup_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_client_user_blank</targetReference>
            </connector>
            <label>Yes sync client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gate_Developer_lookup_changed</name>
        <label>Developer lookup changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Do_we_need_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip developer sync</defaultConnectorLabel>
        <rules>
            <name>Yes_sync_developer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_Developer_Lookup_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_developer_contact_blank</targetReference>
            </connector>
            <label>Yes sync developer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gate_Project_Manager_lookup_changed</name>
        <label>Project Manager lookup changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Gate_Client_User_lookup_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip PM sync</defaultConnectorLabel>
        <rules>
            <name>Yes_sync_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fx_PM_Lookup_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_PM_user_blank</targetReference>
            </connector>
            <label>Yes sync PM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_client_user_blank</name>
        <label>Is client user blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Client_Approver_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Client User is not Blank</defaultConnectorLabel>
        <rules>
            <name>Client_User_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_User__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Client_Approver_User_to_Blank</targetReference>
            </connector>
            <label>Client User is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_developer_contact_blank</name>
        <label>Is developer contact blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Developer_User_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Developer contact is not blank</defaultConnectorLabel>
        <rules>
            <name>Developer_contact_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Developer__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Developer_User_to_Blank</targetReference>
            </connector>
            <label>Developer contact is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PM_user_blank</name>
        <label>Is PM user blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_PM_Approver_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Manager is not Blank</defaultConnectorLabel>
        <rules>
            <name>Project_Manager_User_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Manager__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PM_Approver_User_to_Blank</targetReference>
            </connector>
            <label>Project Manager User is blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_Client_User_Lookup_Changed</name>
        <dataType>Boolean</dataType>
        <expression>CASESAFEID({!$Record.Client_User__c}) != CASESAFEID({!$Record__Prior.Client_User__c})</expression>
    </formulas>
    <formulas>
        <name>fx_Developer_Lookup_Changed</name>
        <dataType>Boolean</dataType>
        <expression>CASESAFEID({!$Record.Developer__c}) != CASESAFEID({!$Record__Prior.Developer__c})</expression>
    </formulas>
    <formulas>
        <name>fx_PM_Lookup_Changed</name>
        <dataType>Boolean</dataType>
        <expression>CASESAFEID({!$Record.Project_Manager__c}) != CASESAFEID({!$Record__Prior.Project_Manager__c})</expression>
    </formulas>
    <interviewLabel>Record Trigger - Project Task - Sync Approver and Developer Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Project Task - Sync Approver and Developer Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Approver_Records</name>
        <label>Get Client Approver Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_get_client_approver_return_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Developer_User_Records</name>
        <label>Get Developer User Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_get_developer_user_return_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Developer__r.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PM_Approver_Records</name>
        <label>Get PM Approver Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_get_PM_approver_return_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Manager__r.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Task</name>
        <label>Update Project Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rec_ProjectTask</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Record_Id</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>Project_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Client_User__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Developer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>rec_ProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
</Flow>
