force-app/main/default/flows/Record_Trigger_Project_Task_Update_Submission_Status_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Task_Email</name>
        <label>Send Task Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Project_Task_Submission</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>txt_ContactRecipientId</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>kurt.savage@milestoneconsulting.tech</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>rec_LightningTemplate.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>txt_ContactRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_Variables_Approves_Pending_Task</name>
        <label>Assign Email Variables Approves Pending Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Client_Approves_Backlog_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_Client_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_Developer_Assigned_to_Pending</name>
        <label>Assign Email Variables Developer Assigned to Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_DeveloperEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Developer_Assigned_to_Pending</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactDeveloperId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_Developer_Assigned_to_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_Developer_Submits_for_Approval</name>
        <label>Assign Email Variables Developer Submits for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Developer_Submits_for_Approval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_Developer_Submits_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_Project_Manager_Rejects_In_Progress_Task</name>
        <label>Assign Email Variables Project Manager Rejects In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_DeveloperEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Project_Manager_Rejects_In_Progress_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactDeveloperId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_SubmissionProject_Manager_Rejects_In_Progress_Task_Project_M</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_Rejects_Backlog_Task</name>
        <label>Assign Email Variables Rejects Backlog Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_Client_Rejects_Backlog_Task</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Client_Rejected_Backlog_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task</name>
        <label>Assign Project Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Current_Submission_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_Project_Task_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project_Task_Submission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Client_Rejected_Backlog_Item</name>
        <label>Assign Project Task - Client Rejected Backlog Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_Client_Approved</name>
        <label>Assign Project Task Submission Client Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_Developer_Assigned_to_Pending</name>
        <label>Assign Project Task Submission Developer Assigned to Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Assigned to Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_Developer_Completes_Work</name>
        <label>Assign Project Task Submission Developer Completes Work</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Completes Work/Testing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_Developer_Submits_for_Approval</name>
        <label>Assign Project Task Submission Developer Submits for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Submits for Approval to Project Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_Developer_Working</name>
        <label>Assign Project Task Submission Developer Working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Action</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_General</name>
        <label>Assign Project Task Submission General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Date_Resolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Date_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Most_Recent_Project_Task_Submission__r.Date_Submitted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Prior_Project_Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Project_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submitting_User_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_SubmittingUserRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Previous_Project_Task_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Most_Recent_Project_Task_Submission__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_submission_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_SubmissionProject_Manager_Rejects_In_Progress_Task_Project_M</name>
        <label>Assign Project Task SubmissionProject Manager Rejects In Progress Task Project Manager Rejects In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Rejects In Progress Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Email_Variables_V2_PM_Submits_Client_Approval</name>
        <label>Assign Email Variables V2 PM Submits for Client Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_ClientApproverUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_PM_Submits_Client_Approval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactClientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_PM_Submits_Client_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_PM_Submits_Client_Approval</name>
        <label>Assign Project Task Submission V2 PM Submits for Client Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Submits for Client Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_PM_Accepts_In_Progress</name>
        <label>Assign Email Variables V2 PM Accepts In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_DeveloperEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_PM_Accepts_In_Progress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactDeveloperId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_PM_Accepts_In_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_PM_Accepts_In_Progress</name>
        <label>Assign Project Task Submission V2 PM Accepts In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Accepts In Progress Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_PM_Submits_Client_Review</name>
        <label>Assign Email Variables V2 PM Submits for Client Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_ClientApproverUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_PM_Submits_Client_Review</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactClientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_PM_Submits_Client_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_PM_Submits_Client_Review</name>
        <label>Assign Project Task Submission V2 PM Submits for Client Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Submits for Client Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Client_Reviews_QA_Completion</name>
        <label>Assign Email Variables V2 Client Reviews QA for Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Client_Reviews_QA_Completion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_Client_Reviews_QA_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_Client_Reviews_QA_Completion</name>
        <label>Assign Project Task Submission V2 Client Reviews QA Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Reviews and QA&apos;s for Completion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Client_Rejects_Completion</name>
        <label>Assign Email Variables V2 Client Rejects Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Client_Rejects_Completion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_Client_Rejects_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_Client_Rejects_Completion</name>
        <label>Assign Project Task Submission V2 Client Rejects Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Rejects Completion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Client_Approves_Completion</name>
        <label>Assign Email Variables V2 Client Approves Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Client_Approves_Completion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_Client_Approves_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_Client_Approves_Completion</name>
        <label>Assign Project Task Submission V2 Client Approves Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approves Completion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Project_Task_Complete</name>
        <label>Assign Email Variables V2 Project Task Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Project_Task_Complete</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_Project_Task_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_Project_Task_Complete</name>
        <label>Assign Project Task Submission V2 Project Task Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Task Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Release_Notes_Released</name>
        <label>Assign Email Variables V2 Release Notes Released</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_ClientApproverUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Release_Notes_Released</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactClientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_Release_Notes_Released</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_Release_Notes_Released</name>
        <label>Assign Project Task Submission V2 Release Notes Released</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Release Notes Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Task_Is_Reviewed</name>
        <label>Assign Email Variables V2 Task Is Reviewed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Task_Is_Reviewed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_Task_Is_Reviewed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_Task_Is_Reviewed</name>
        <label>Assign Project Task Submission V2 Task Is Reviewed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task is Reviewed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Submission_Update_General</name>
        <label>Assign Email Variables V2 Submission Update General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Submission_Update_General</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_V2_Default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_V2_Default</name>
        <label>Assign Project Task Submission V2 Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Submission_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Developer_Working</name>
        <label>Assign Email Variables V2 Developer Working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Developer_Working</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_Developer_Working</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Variables_V2_Developer_Completes_Work_Testing</name>
        <label>Assign Email Variables V2 Developer Completes Work Testing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_LightningTemplate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Template_V2_Developer_Completes_Work_Testing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task_Submission_Developer_Completes_Work</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_the_submission_status</name>
        <label>What is the submission status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Template_V2_Submission_Update_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Manager_Submits_for_Client_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Submits for Client Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_PM_Submits_Client_Approval</targetReference>
            </connector>
            <label>Project Manager Submits for Client Approval</label>
        </rules>
        <rules>
            <name>Client_Rejects_Backlog_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Rejects Backlog Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Client_Rejects_Backlog_Task</targetReference>
            </connector>
            <label>Client Rejects Backlog Task</label>
        </rules>
        <rules>
            <name>Client_Approves_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approves Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Client_Approves_Backlog_Task</targetReference>
            </connector>
            <label>Client Approves Pending</label>
        </rules>
        <rules>
            <name>Developer_Assigned_to_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Assigned to Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Developer_Assigned_to_Pending</targetReference>
            </connector>
            <label>Developer Assigned to Pending</label>
        </rules>
        <rules>
            <name>Developer_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Developer_Working</targetReference>
            </connector>
            <label>Developer Working</label>
        </rules>
        <rules>
            <name>Developer_Completes_Work_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Completes Work/Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Developer_Completes_Work_Testing</targetReference>
            </connector>
            <label>Developer Completes Work/Testing</label>
        </rules>
        <rules>
            <name>Developer_Submits_for_Approval_to_Project_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Submits for Approval to Project Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Developer_Submits_for_Approval</targetReference>
            </connector>
            <label>Developer Submits for Approval to Project Manager</label>
        </rules>
        <rules>
            <name>Project_Manager_Rejects_In_Progress_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Rejects In Progress Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_Project_Manager_Rejects_In_Progress_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Project Manager Rejects In Progress Task</label>
        </rules>
        <rules>
            <name>Project_Manager_Accepts_In_Progress_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Accepts In Progress Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_PM_Accepts_In_Progress</targetReference>
            </connector>
            <label>Project Manager Accepts In Progress Task</label>
        </rules>
        <rules>
            <name>Project_Manager_Submits_for_Client_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Submits for Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_PM_Submits_Client_Review</targetReference>
            </connector>
            <label>Project Manager Submits for Client Review</label>
        </rules>
        <rules>
            <name>Client_Reviews_and_QA_s_for_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Reviews and QA&apos;s for Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Client_Reviews_QA_Completion</targetReference>
            </connector>
            <label>Client Reviews and QA&apos;s for Completion</label>
        </rules>
        <rules>
            <name>Client_Rejects_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Rejects Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Client_Rejects_Completion</targetReference>
            </connector>
            <label>Client Rejects Completion</label>
        </rules>
        <rules>
            <name>Client_Approves_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approves Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Client_Approves_Completion</targetReference>
            </connector>
            <label>Client Approves Completion</label>
        </rules>
        <rules>
            <name>Project_Task_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Task Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Project_Task_Complete</targetReference>
            </connector>
            <label>Project Task Complete</label>
        </rules>        <rules>
            <name>Task_Is_Reviewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task is Reviewed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Task_Is_Reviewed</targetReference>
            </connector>
            <label>Task Is Reviewed</label>
        </rules>        <rules>
            <name>Release_Notes_Released</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Release Notes Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template_V2_Release_Notes_Released</targetReference>
            </connector>
            <label>Release Notes Released</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_num_NewStepNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Current_Submission_Step__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>form_txt_ClientApproverUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Client_Approver_User__r.Email}</expression>
    </formulas>
    <formulas>
        <name>form_txt_DeveloperEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Developer__r.Email}</expression>
    </formulas>
    <formulas>
        <name>form_txt_PMUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.PM_Approver_User__r.Email}</expression>
    </formulas>
    <formulas>
        <name>form_txt_SubmittingUserRole</name>
        <dataType>String</dataType>
        <expression>CASE(
  {!$User.ContactId},
  {!$Record.Project_Manager__c}, &quot;Project Manager&quot;,
  {!$Record.Client_User__c}, &quot;Client&quot;,
  {!$Record.Developer__c}, &quot;Developer&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>txt_ContactDeveloperId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Developer__r.Id}</expression>
    </formulas>
    <formulas>
        <name>txt_ContactProjectManagerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Manager__r.Id}</expression>
    </formulas>    <formulas>
        <name>txt_ContactClientId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Client_User__r.Id}</expression>
    </formulas>
    <interviewLabel>Project Task Status Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Project Task - Update Submission Status V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Task_Submission</name>
        <label>Create Project Task Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Project_Task</targetReference>
        </connector>
        <inputReference>rec_ProjectTaskSubmission</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Template_Client_Approves_Backlog_Task</name>
        <label>Get Email Template Client Approves Backlog Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_Approves_Pending_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Process - Project Task - Client Accepted Backlog</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Client_Rejects_Backlog_Task</name>
        <label>Get Email Template Client Rejects Backlog Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_Rejects_Backlog_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Process - Project Task - Client Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Developer_Assigned_to_Pending</name>
        <label>Get Email Template Developer Assigned to Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_Developer_Assigned_to_Pending</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Process - Project Task - Assigned to Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_Developer_Submits_for_Approval</name>
        <label>Get Email Template Developer Submits for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_Developer_Submits_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Process - Project Task - PM Code Review Submitted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>


    <recordLookups>
        <name>Get_Email_Template_Project_Manager_Rejects_In_Progress_Task</name>
        <label>Get Email Template Project Manager Rejects In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_Project_Manager_Rejects_In_Progress_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Process - Project Task - PM Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_PM_Submits_Client_Approval</name>
        <label>Get Email Template V2 PM Submits Client Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_PM_Submits_Client_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - PM Submits for Client Approval</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_PM_Accepts_In_Progress</name>
        <label>Get Email Template V2 PM Accepts In Progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_PM_Accepts_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - PM Accepts In Progress Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_PM_Submits_Client_Review</name>
        <label>Get Email Template V2 PM Submits Client Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_PM_Submits_Client_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - PM Submits for Client Review</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Client_Reviews_QA_Completion</name>
        <label>Get Email Template V2 Client Reviews QA Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Client_Reviews_QA_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Client Reviews QA for Completion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Client_Rejects_Completion</name>
        <label>Get Email Template V2 Client Rejects Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Client_Rejects_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Client Rejects Completion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Client_Approves_Completion</name>
        <label>Get Email Template V2 Client Approves Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Client_Approves_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Client Approves Completion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Project_Task_Complete</name>
        <label>Get Email Template V2 Project Task Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Project_Task_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Project Task Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Release_Notes_Released</name>
        <label>Get Email Template V2 Release Notes Released</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Release_Notes_Released</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Release Notes Released</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Task_Is_Reviewed</name>
        <label>Get Email Template V2 Task Is Reviewed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Task_Is_Reviewed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Task Is Reviewed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Submission_Update_General</name>
        <label>Get Email Template V2 Submission Update General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Submission_Update_General</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Submission Update</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Developer_Working</name>
        <label>Get Email Template V2 Developer Working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Developer_Working</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Developer Working</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template_V2_Developer_Completes_Work_Testing</name>
        <label>Get Email Template V2 Developer Completes Work Testing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Email_Variables_V2_Developer_Completes_Work_Testing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submission Status V2 - Developer Completes Work Testing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Task</name>
        <label>Update Project Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rec_ProjectTask</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Project_Task_Submission_General</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>rec_LightningTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>rec_ProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>rec_ProjectTaskSubmission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task_Submission__c</objectType>
    </variables>
    <variables>
        <name>txt_ContactRecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
