force-app/main/default/flows/Record_Trigger_Project_Task_Update_Submission_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Client_Approved_Task_Email</name>
        <label>Send Client Approved Task Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Project_Task_Submission_Client_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.PM_Approver_User__r.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>kurt.savage@milestoneconsulting.tech</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XEc00000F3dnNMAR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_Client_Rejected_Task_Email</name>
        <label>Send Client Rejected Task Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Project_Task_Client_Rejected_Backlog_Item</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.PM_Approver_User__r.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>kurt.savage@milestoneconsulting.tech</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XEc00000F2AttMAF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Project_Manager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Project_Task</name>
        <label>Assign Project Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Current_Submission_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Client_Approved</name>
        <label>Assign Project Task Client Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_Project_Task_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project_Task_Submission_for_Client_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Client_Rejected_Backlog_Item</name>
        <label>Assign Project Task - Client Rejected Backlog Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Assigned to Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project_Task_Client_Rejected_Backlog_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_Client_Approved</name>
        <label>Assign Project Task Submission Client Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Project_Task_Submission_for_Client_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task_Submission_General</name>
        <label>Assign Project Task Submission General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Date_Resolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Date_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Most_Recent_Project_Task_Submission__r.Date_Submitted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Prior_Project_Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Project_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submitting_User_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_SubmittingUserRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Prior_Project_Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Most_Recent_Project_Task_Submission__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_submission_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Project_Task_Client_Rejected_Backlog_Item</name>
        <label>Project Task - Client Rejected Backlog Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Rejects Backlog Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Most_Recent_Project_Task_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Project_Task_Client_Rejected_Backlog_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Project_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_the_submission_status</name>
        <label>What is the submission status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Project_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Manager_Submits_for_Client_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Submits for Client Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Project Manager Submits for Client Approval</label>
        </rules>
        <rules>
            <name>Client_Rejects_Backlog_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Rejects Backlog Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Client_Rejected_Task_Email</targetReference>
            </connector>
            <label>Client Rejects Backlog Task</label>
        </rules>
        <rules>
            <name>Client_Approves_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approves Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Client_Approved_Task_Email</targetReference>
            </connector>
            <label>Client Approves Pending</label>
        </rules>
        <rules>
            <name>Developer_Assigned_to_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Assigned to Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Developer Assigned to Pending</label>
        </rules>
        <rules>
            <name>Developer_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Developer Working</label>
        </rules>
        <rules>
            <name>Developer_Completes_Work_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Completes Work/Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Developer Completes Work/Testing</label>
        </rules>
        <rules>
            <name>Developer_Submits_for_Approval_to_Project_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Submits for Approval to Project Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Developer Submits for Approval to Project Manager</label>
        </rules>
        <rules>
            <name>Project_Manager_Rejects_In_Progress_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Rejects In Progress Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Project Manager Rejects In Progress Task</label>
        </rules>
        <rules>
            <name>Project_Manager_Submits_for_Client_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Submits for Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Project Manager Submits for Client Review</label>
        </rules>
        <rules>
            <name>Client_Reviews_and_QA_s_for_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Reviews and QA&apos;s for Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Client Reviews and QA&apos;s for Completion</label>
        </rules>
        <rules>
            <name>Client_Rejects_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Rejects Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Client Rejects Completion</label>
        </rules>
        <rules>
            <name>Client_Approves_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approves Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Client Approves Completion</label>
        </rules>
        <rules>
            <name>Project_Task_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Task Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Project Task Complete</label>
        </rules>
        <rules>
            <name>Release_Notes_Released</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Release Notes Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Project_Task</targetReference>
            </connector>
            <label>Release Notes Released</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_num_NewStepNumber</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Current_Submission_Step__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>form_txt_SubmittingUserRole</name>
        <dataType>String</dataType>
        <expression>CASE(
  {!$User.ContactId},
  {!$Record.Project_Manager__c}, &quot;Project Manager&quot;,
  {!$Record.Client_User__c}, &quot;Client&quot;,
  {!$Record.Developer__c}, &quot;Developer&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Project Task Status Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Project Task - Update Submission Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Task_Client_Rejected_Backlog_Item</name>
        <label>Create Project Task - Client Rejected Backlog Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Task_Client_Rejected_Backlog_Item</targetReference>
        </connector>
        <inputReference>rec_ProjectTaskSubmission</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Task_Submission_for_Client_Approved</name>
        <label>Create Project Task Submission for Client Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Project_Task_Client_Approved</targetReference>
        </connector>
        <inputReference>rec_ProjectTaskSubmission</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Project_Task_Submission_General</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>rec_ProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>rec_ProjectTaskSubmission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task_Submission__c</objectType>
    </variables>
</Flow>
