force-app/main/default/flows/Record_Trigger_Project_Task_Validation_Prevent_Subtask_Creation_Completed_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error_Message_Parent_Task_Completed</name>
        <label>Error Message - Parent Task Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Cannot create a subtask when the parent task is Completed. Please select a different parent task or change the parent task status.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Parent_Status</name>
        <label>Check Parent Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Parent Not Completed</defaultConnectorLabel>
        <rules>
            <name>Parent_Is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Task.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Parent_Task_Completed</targetReference>
            </connector>
            <label>Parent Is Completed</label>
        </rules>
    </decisions>
    <description>Prevents creating a new subtask when the parent task status is Completed. This ensures data integrity by preventing subtasks from being added to completed parent tasks.</description>
    <environments>Default</environments>
    <formulas>
        <name>Parent_Task_Id</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent_Task__c}</expression>
    </formulas>
    <interviewLabel>Record Trigger - Project Task - Validation - Prevent Subtask Creation Completed Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Project Task - Validation - Prevent Subtask Creation Completed Parent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get parent task to check if it's Completed</description>
        <name>Get_Parent_Task</name>
        <label>Get Parent Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Task_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Task__c</object>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Task__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
