force-app/main/default/flows/Record_Project_Alert_Burn_Rate_80.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>132</locationX>
        <locationY>431</locationY>
        <actionName>Project__c.Project_Burn_Rate_80_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Project__c.Project_Burn_Rate_80_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Already_above_80</name>
        <label>Already above 80?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_already_above_80</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Burn_Rate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <label>Yes already above 80</label>
        </rules>
        <rules>
            <name>No_send_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Burn_Rate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert</targetReference>
            </connector>
            <label>No, send message</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record - Project - Alert Burn Rate &gt; 80% {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record - Project - Alert Burn Rate &gt; 80%</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Already_above_80</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Burn_Rate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>80.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Burn_Rate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
