force-app/main/default/flows/Record_Trigger_Project_Task_Validation_There_are_open_subtasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error_Message_Can_t_Close_Parent_as_there_are_Children_Tasks_Open</name>
        <label>Error Message - Can&apos;t Close Parent as there are Children Tasks Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Can&apos;t close this task as there are subtasks that are still open.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>There_are_Subtasks</name>
        <label>There are Subtasks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_t_Close_Parent_as_there_are_Open_Subtasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_There_Subtasks_Linked</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Can_t_Close_Parent_as_there_are_Children_Tasks_Open</targetReference>
            </connector>
            <label>Can&apos;t Close Parent as there are Open Subtasks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Trigger - Project Task - Validation - There are open subtasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Project Task - Validation - There are open subtasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Are_There_Subtasks_Linked</name>
        <label>Are There Subtasks Linked</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_are_Subtasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_There_Subtasks_Linked</targetReference>
        </connector>
        <filterFormula>AND(
ISPICKVAL({!$Record.Status__c},&quot;Closed&quot;),
ISCHANGED({!$Record.Status__c}),
ISBLANK({!$Record.Parent_Task__c})
)</filterFormula>
        <object>Project_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
