force-app/main/default/flows/Record_Trigger_Project_Task_Update_Submission_Status_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Task_Email</name>
        <label>Send Task Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Project_Task_Submission</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>txt_Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>kurt.savage@milestoneconsulting.tech</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>txt_ContactRecipientId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_Variables_V2_Client_Rejects_Completion</name>
        <label>Set Email Variables V2 Client Rejects Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Client Rejects Completion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_Client_Rejects_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Project_Task</name>
        <label>Assign Project Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Current_Submission_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Most_Recent_Project_Task_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_ProjectTaskSubmission.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_Approves_Pending_Task</name>
        <label>Set Email Variables Approves Pending Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Process - Project Task - Client Accepted Backlog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Client_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_Developer_Assigned_to_Pending</name>
        <label>Set Email Variables Developer Assigned to Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_DeveloperEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactDeveloperId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Process - Project Task - Assigned to Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Developer_Assigned_to_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_Developer_Submits_for_Approval</name>
        <label>Set Email Variables Developer Submits for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Process - Project Task - PM Code Review Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Developer_Submits_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_Project_Manager_Rejects_In_Progress_Task</name>
        <label>Set Email Variables Project Manager Rejects In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_DeveloperEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactDeveloperId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Process - Project Task - PM Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_SubmissionProject_Manager_Rejects_In_Progress_Task_Project_Mana</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_Rejects_Backlog_Task</name>
        <label>Set Email Variables Rejects Backlog Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Process - Project Task - Client Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Client_Rejected_Backlog_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_Client_Approves_Completion</name>
        <label>Set Email Variables V2 Client Approves Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Client Approves Completion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_Client_Approves_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_Developer_Completes_Work_Testing</name>
        <label>Set Email Variables V2 Developer Completes Work Testing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Developer Completes Work Testing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Developer_Completes_Work</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_Developer_Working</name>
        <label>Set Email Variables V2 Developer Working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Developer Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Developer_Working</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_PM_Accepts_In_Progress_Task</name>
        <label>Set Email Variables V2 PM Accepts In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_DeveloperEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactDeveloperId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - PM Accepts In Progress Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_PM_Accepts_In_Progress_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_PM_Submits_for_Client_Approval</name>
        <label>Set Email Variables V2 PM Submits for Client Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_ClientApproverUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactClientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - PM Submits for Client Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_PM_Submits_for_Client_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_PM_Submits_for_Client_Review</name>
        <label>Set Email Variables V2 PM Submits for Client Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_ClientApproverUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactClientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - PM Submits for Client Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_PM_Submits_for_Client_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_Project_Task_Complete</name>
        <label>Set Email Variables V2 Project Task Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Project Task Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_Project_Task_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_Release_Notes_Released</name>
        <label>Set Email Variables V2 Release Notes Released</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_ClientApproverUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactClientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Release Notes Released</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_Release_Notes_Released</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_Submission_Update_General</name>
        <label>Set Email Variables V2 Submission Update General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Submission Update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_Default</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Variables_V2_Task_Is_Reviewed</name>
        <label>Set Email Variables V2 Task Is Reviewed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>txt_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_PMUserEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_ContactRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_ContactProjectManagerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txt_EmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Status V2 - Task Is Reviewed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_V2_Task_Is_Reviewed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Client_Rejected_Backlog_Item</name>
        <label>Set Project Task Submission - Client Rejected Backlog Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Rejects Backlog Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Project_Manager_Submits_for_Client_Review</name>
        <label>Set Project Task Project Manager Submits for Client Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Approved_by_PM_Code_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Approved_by_PM_Code_Reviewer</name>
        <label>Set Project Task Status Approved by PM Code Reviewer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Approved_by_PM_Code_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Client_Approves_Completion</name>
        <label>Set Project Task Status Client Approves Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Client_Approves_Pending</name>
        <label>Set Project Task Status Client Approves Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Developer_Assigned_to_Pending_Task</name>
        <label>Set Project Task Status Developer Assigned to Pending Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Developer_Completes_Work_Testing</name>
        <label>Set Project Task Status Developer Completes Work/Testing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Developer_Submits_for_approval_to_Project_Manager</name>
        <label>Set Project Task Status Developer Submits for approval to Project Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Developer_Working</name>
        <label>Set Project Task Status Developer Working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_PM_Submits_Backlog</name>
        <label>Set Project Task Status PM Submits Backlog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Project_Task_Complete</name>
        <label>Set Project Task Status Project Task Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Release_Notes_Released</name>
        <label>Set Project Task Status Release Notes Released</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Status_Task_is_Reviewed</name>
        <label>Set Project Task Status Task is Reviewed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Client_Approved</name>
        <label>Set Project Task Submission Client Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approves Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Client_Approves_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Dates</name>
        <label>Set Project Task Submission Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Date_Resolved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_date_DateResolved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Date_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_date_DateSubmitted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Developer_Assigned_to_Pending</name>
        <label>Set Project Task Submission Developer Assigned to Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Assigned to Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Developer_Assigned_to_Pending_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Developer_Completes_Work</name>
        <label>Set Project Task Submission Developer Completes Work</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Completes Work/Testing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Developer_Completes_Work_Testing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Developer_Submits_for_Approval</name>
        <label>Set Project Task Submission Developer Submits for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Submits for Approval to Project Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Developer_Submits_for_approval_to_Project_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Developer_Working</name>
        <label>Set Project Task Submission Developer Working</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Developer_Working</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_General</name>
        <label>Set Project Task Submission General</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Approver_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submitter_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Date_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_date_DateSubmitted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Prior_Project_Task_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Project_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_num_NewStepNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Previous_Project_Task_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Most_Recent_Project_Task_Submission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submitting_User_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_txt_SubmittingUserRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_submission_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Status</name>
        <label>Set Project Task Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Rejects Backlog Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Backlog</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Status_and_Not_Approved_by_PM_Code_Reviewer</name>
        <label>Set Project Task Submission Status and Not Approved by PM Code Reviewer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTask.Approved_by_PM_Code_Reviewer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Rejects In Progress Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_Status_Client_Rejects_Completion</name>
        <label>Set Project Task Submission Status Client Rejects Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Developer Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_Client_Approves_Completion</name>
        <label>Set Project Task Submission V2 Client Approves Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Approves Completion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Client_Approves_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_Client_Rejects_Completion</name>
        <label>Set Project Task Submission V2 Client Rejects Completion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client Rejects Completion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Status_Client_Rejects_Completion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_Default</name>
        <label>Set Project Task Submission V2 Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Submission_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_PM_Accepts_In_Progress_Task</name>
        <label>Set Project Task Submission V2 PM Accepts In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Accepts In Progress Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Approved_by_PM_Code_Reviewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_PM_Submits_for_Client_Approval</name>
        <label>Set Project Task Submission V2 PM Submits for Client Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Submits for Client Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_PM_Submits_Backlog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_PM_Submits_for_Client_Review</name>
        <label>Set Project Task Submission V2 PM Submits for Client Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Submits for Client Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submit for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Project_Manager_Submits_for_Client_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_Project_Task_Complete</name>
        <label>Set Project Task Submission V2 Project Task Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Task Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Project_Task_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_Release_Notes_Released</name>
        <label>Set Project Task Submission V2 Release Notes Released</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Release Notes Released</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Release_Notes_Released</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_Submission_V2_Task_Is_Reviewed</name>
        <label>Set Project Task Submission V2 Task Is Reviewed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Status_Task_is_Reviewed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Task_SubmissionProject_Manager_Rejects_In_Progress_Task_Project_Mana</name>
        <label>Set Project Task SubmissionProject Manager Rejects In Progress Task Project Manager Rejects In Progress Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Project Manager Rejects In Progress Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rec_ProjectTaskSubmission.Submission_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Project_Task_Submission_Status_and_Not_Approved_by_PM_Code_Reviewer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_the_submission_status</name>
        <label>What is the submission status?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Email_Variables_V2_Submission_Update_General</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submission Status Not Handled</defaultConnectorLabel>
        <rules>
            <name>Task_Is_Opened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_Task_Is_Reviewed</targetReference>
            </connector>
            <label>Task Is Opened</label>
        </rules>
        <rules>
            <name>Project_Manager_Submits_for_Client_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Submits for Client Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_PM_Submits_for_Client_Approval</targetReference>
            </connector>
            <label>Project Manager Submits for Client Approval</label>
        </rules>
        <rules>
            <name>Client_Rejects_Backlog_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Rejects Backlog Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_Rejects_Backlog_Task</targetReference>
            </connector>
            <label>Client Rejects Backlog Task</label>
        </rules>
        <rules>
            <name>Client_Approves_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approves Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_Approves_Pending_Task</targetReference>
            </connector>
            <label>Client Approves Pending</label>
        </rules>
        <rules>
            <name>Developer_Assigned_to_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Assigned to Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_Developer_Assigned_to_Pending</targetReference>
            </connector>
            <label>Developer Assigned to Pending</label>
        </rules>
        <rules>
            <name>Developer_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_Developer_Working</targetReference>
            </connector>
            <label>Developer Working</label>
        </rules>
        <rules>
            <name>Developer_Completes_Work_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Completes Work/Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_Developer_Completes_Work_Testing</targetReference>
            </connector>
            <label>Developer Completes Work/Testing</label>
        </rules>
        <rules>
            <name>Developer_Submits_for_Approval_to_Project_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Developer Submits for Approval to Project Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_Developer_Submits_for_Approval</targetReference>
            </connector>
            <label>Developer Submits for Approval to Project Manager</label>
        </rules>
        <rules>
            <name>Project_Manager_Rejects_In_Progress_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Rejects In Progress Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_Project_Manager_Rejects_In_Progress_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Project Manager Rejects In Progress Task</label>
        </rules>
        <rules>
            <name>Project_Manager_Accepts_In_Progress_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Accepts In Progress Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_PM_Accepts_In_Progress_Task</targetReference>
            </connector>
            <label>Project Manager Accepts In Progress Task</label>
        </rules>
        <rules>
            <name>Project_Manager_Submits_for_Client_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Manager Submits for Client Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_PM_Submits_for_Client_Review</targetReference>
            </connector>
            <label>Project Manager Submits for Client Review</label>
        </rules>
        <rules>
            <name>Client_Rejects_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Rejects Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Variables_V2_Client_Rejects_Completion</targetReference>
            </connector>
            <label>Client Rejects Completion</label>
        </rules>
        <rules>
            <name>Client_Approves_Completion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Approves Completion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_Client_Approves_Completion</targetReference>
            </connector>
            <label>Client Approves Completion</label>
        </rules>
        <rules>
            <name>Project_Task_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Task Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_Project_Task_Complete</targetReference>
            </connector>
            <label>Project Task Complete</label>
        </rules>
        <rules>
            <name>Release_Notes_Released</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Release Notes Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Variables_V2_Release_Notes_Released</targetReference>
            </connector>
            <label>Release Notes Released</label>
        </rules>
    </decisions>
    <description>V2: Reject rollbacks use formulas Assign_Project_Task_Rollback_Reject_Fields; PM code reviewer flags unchanged.</description>
    <environments>Default</environments>
    <formulas>
        <name>form_date_DateResolved</name>
        <dataType>Date</dataType>
        <expression>IF(
  TEXT({!rec_ProjectTaskSubmission.Submission_Type__c}) = &quot;Approved&quot;,
  {!$Flow.CurrentDate},
  NULL
)</expression>
    </formulas>
    <formulas>
        <name>form_date_DateSubmitted</name>
        <dataType>Date</dataType>
        <expression>IF(
  TEXT({!rec_ProjectTaskSubmission.Submission_Type__c}) = &apos;Submit for Approval&apos;, {!$Flow.CurrentDate},
  IF(TEXT({!$Record.Most_Recent_Project_Task_Submission__r.Submission_Type__c}) = &quot;Submit for Approval&quot;,
  DATEVALUE({!$Record.Most_Recent_Project_Task_Submission__r.CreatedDate}),
  {!$Record.Most_Recent_Project_Task_Submission__r.Date_Submitted__c})
)</expression>
    </formulas>
    <formulas>
        <name>form_num_NewStepNumber</name>
        <dataType>Number</dataType>
        <expression>IF(
  NOT(ISBLANK({!$Record.Current_Submission_Step__c})),
  {!$Record.Current_Submission_Step__c} + 1,
  1
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>form_txt_ClientApproverUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Client_Approver_User__r.Email}</expression>
    </formulas>
    <formulas>
        <name>form_txt_DeveloperEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Developer__r.Email}</expression>
    </formulas>
    <formulas>
        <name>form_txt_PMUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.PM_Approver_User__r.Email}</expression>
    </formulas>
    <formulas>
        <name>form_txt_Rollback_Status_For_Task</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!$Record.Submission_Status__c}) = &quot;Client Rejects Backlog Task&quot;,
  IF(
    TEXT({!$Record__Prior.Status__c}) = &quot;In Review&quot;,
    &quot;Pending&quot;,
    IF(
      TEXT({!$Record__Prior.Status__c}) = &quot;In Progress&quot;,
      &quot;Backlog&quot;,
      IF(
        TEXT({!$Record__Prior.Status__c}) = &quot;Pending&quot;,
        &quot;Backlog&quot;,
        TEXT({!$Record__Prior.Status__c})
      )
    )
  ),
  IF(
    TEXT({!$Record.Submission_Status__c}) = &quot;Project Manager Rejects In Progress Task&quot;,
    &quot;In Progress&quot;,
    IF(
      TEXT({!$Record.Submission_Status__c}) = &quot;Client Rejects Completion&quot;,
      &quot;Backlog&quot;,
      TEXT({!$Record.Status__c})
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>form_txt_Rollback_Submission_Status_For_Task</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!$Record.Submission_Status__c}) = &quot;Client Rejects Backlog Task&quot;,
  IF(
    TEXT({!$Record__Prior.Submission_Status__c}) = &quot;Project Manager Submits for Client Approval&quot;,
    &quot;Developer Completes Work/Testing&quot;,
    IF(
      TEXT({!$Record__Prior.Submission_Status__c}) = &quot;Developer Submits for Approval to Project Manager&quot;,
      &quot;Developer Working&quot;,
      IF(
        TEXT({!$Record__Prior.Submission_Status__c}) = &quot;Developer Completes Work/Testing&quot;,
        &quot;Developer Assigned to Pending&quot;,
        IF(
          TEXT({!$Record__Prior.Submission_Status__c}) = &quot;Developer Working&quot;,
          &quot;Client Approves Pending&quot;,
          TEXT({!$Record__Prior.Submission_Status__c})
        )
      )
    )
  ),
  IF(
    TEXT({!$Record.Submission_Status__c}) = &quot;Project Manager Rejects In Progress Task&quot;,
    &quot;Developer Working&quot;,
    IF(
      TEXT({!$Record.Submission_Status__c}) = &quot;Client Rejects Completion&quot;,
      &quot;Client Approves Pending&quot;,
      TEXT({!$Record.Submission_Status__c})
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>form_txt_SubmittingUserRole</name>
        <dataType>String</dataType>
        <expression>IF(
  CASESAFEID({!$User.ContactId}) = CASESAFEID({!$Record.Project_Manager__c}),
  &quot;Project Manager&quot;,
  IF(
    CASESAFEID({!$User.ContactId}) = CASESAFEID({!$Record.Client_User__c}),
    &quot;Client User&quot;,
    IF(
      CASESAFEID({!$User.ContactId}) = CASESAFEID({!$Record.Developer__c}),
      &quot;Developer&quot;,
      &quot;&quot;
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>txt_ContactClientId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Client_User__r.Id}</expression>
    </formulas>
    <formulas>
        <name>txt_ContactDeveloperId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Developer__r.Id}</expression>
    </formulas>
    <formulas>
        <name>txt_ContactProjectManagerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project_Manager__r.Id}</expression>
    </formulas>
    <interviewLabel>Project Task Status Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Project Task - Update Submission Status V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Task_Submission</name>
        <label>Create Project Task Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Project_Task</targetReference>
        </connector>
        <inputReference>rec_ProjectTaskSubmission</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Task_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txt_EmailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Task</name>
        <label>Update Project Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>rec_ProjectTask</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Project_Task_Submission_General</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Submission_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>rec_LightningTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>rec_ProjectTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>rec_ProjectTaskSubmission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task_Submission__c</objectType>
    </variables>
    <variables>
        <name>txt_ContactRecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txt_EmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
