force-app/main/default/flows/Record_Trigger_Contact_Prevent_Duplicate_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error_Duplicate_Contact_Email</name>
        <label>Error Duplicate Contact Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>This email address is already used by another contact.</errorMessage>
            <fieldSelection>Email</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Contact_Email_Lookup_Failed</name>
        <label>Error Contact Email Lookup Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>We could not validate email uniqueness. Try again or contact your administrator.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_duplicate_contact_on_insert</name>
        <label>Duplicate contact on insert?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No duplicate</defaultConnectorLabel>
        <rules>
            <name>Duplicate_found_on_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_By_Normalized_Email_New</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Duplicate_Contact_Email</targetReference>
            </connector>
            <label>Duplicate found on insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_duplicate_contact_on_update</name>
        <label>Duplicate contact on update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No duplicate</defaultConnectorLabel>
        <rules>
            <name>Duplicate_found_on_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Duplicate_By_Email_Update</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Duplicate_Contact_Email</targetReference>
            </connector>
            <label>Duplicate found on update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_record_new</name>
        <label>Is record new?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Duplicate_By_Email_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record is update</defaultConnectorLabel>
        <rules>
            <name>Record_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_By_Normalized_Email_New</targetReference>
            </connector>
            <label>Record is new</label>
        </rules>
    </decisions>
    <description
  >Before save on Contact: blocks create/update when another contact has the same email (standard Email). Compares using LOWER(TRIM($Record.Email)) to Contact.Email (case-insensitive match is typical in Salesforce; leading/trailing spaces on existing rows may not match). Fault path returns a generic error if the duplicate lookup fails. Does not enforce uniqueness against Lead or User.</description>
    <formulas>
        <name>form_txt_NormalizedEmail</name>
        <dataType>String</dataType>
        <expression>LOWER(TRIM({!$Record.Email}))</expression>
    </formulas>
    <interviewLabel>Record Trigger - Contact - Prevent Duplicate Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger - Contact - Prevent Duplicate Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_By_Normalized_Email_New</name>
        <label>Get Contact By Normalized Email New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_duplicate_contact_on_insert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Contact_Email_Lookup_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_txt_NormalizedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Duplicate_By_Email_Update</name>
        <label>Get Contact Duplicate By Email Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_duplicate_contact_on_update</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Contact_Email_Lookup_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_txt_NormalizedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_record_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
