force-app/main/default/flows/RT_AS_QB_INV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>FlowAction_CallSubflowHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>Project_Set_To_Not_Invoiced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputVariablesJSON</name>
            <value>
                <elementReference>jsonUpdateProjectRejected</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowAction_CallSubflowHandler</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Invoice_Rejected</name>
        <label>Invoice Rejected</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <description>This will hold all of the sub flows for the QuickBooks Invoice object</description>
    <interviewLabel>RT-AS-QB-INV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-AS-QB-INV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoice_Rejected</targetReference>
        </connector>
        <object>Quickbooks_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>jsonUpdateProjectRejected</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;varRecProjectId&quot;:&quot;{!$Record.Project__c}&quot;
}</text>
    </textTemplates>
</Flow>
