force-app/main/default/flows/RT_AS_Time_Sheet_Calculate_Cost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_projected_hours</name>
        <label>Add projected hours</label>
        <locationX>446</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>numProjectedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Go_through_Open_Projects.Projected_Number_of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numTotalTime</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Go_through_Open_Projects.Total_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_through_Open_Projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Cost</name>
        <label>Calculate Cost</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>currTotalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formCurrCalcCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Go_Through_Time_Sheet_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project_Price</name>
        <label>Set Project Price</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>currTotalCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__r.Set_Cost_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Billable</name>
        <label>Is Billable</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Go_Through_Time_Sheet_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Billable Hours</defaultConnectorLabel>
        <rules>
            <name>Billable_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billable_Hours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Cost</targetReference>
            </connector>
            <label>Billable Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Set_Cost</name>
        <label>Is Project Set Cost</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Go_Through_Time_Sheet_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hourly Rate</defaultConnectorLabel>
        <rules>
            <name>Set_Cost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project__r.Set_Cost__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Project_Price</targetReference>
            </connector>
            <label>Set Cost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_open</name>
        <label>Status open?</label>
        <locationX>578</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Go_through_Open_Projects</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Go_through_Open_Projects.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Go_through_Open_Projects.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Go_through_Open_Projects.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_projected_hours</targetReference>
            </connector>
            <label>Open Project</label>
        </rules>
    </decisions>
    <description>Add burn hours to account</description>
    <environments>Default</environments>
    <formulas>
        <name>formCalcBurnRate</name>
        <dataType>Number</dataType>
        <expression>{!numTotalTime}/{!$Record.Project__r.Projected_Number_of_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formCurrCalcCost</name>
        <dataType>Currency</dataType>
        <expression>{!Go_Through_Time_Sheet_Entries.Contract_Pricing__r.Calculated_Per_Hour_Rate__c} * {!Go_Through_Time_Sheet_Entries.Sum_of_Time__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RT-AS-Time Sheet Calculate Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-AS-Time Sheet Calculate Cost</label>
    <loops>
        <name>Go_through_Open_Projects</name>
        <label>Go through Open Projects</label>
        <locationX>358</locationX>
        <locationY>1331</locationY>
        <collectionReference>Get_Open_Projects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Status_open</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Burn_Rate_on_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Go_Through_Time_Sheet_Entries</name>
        <label>Go Through Time Sheet Entries</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Time_Sheet_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Billable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Project</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Projects</name>
        <label>Get Open Projects</label>
        <locationX>358</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_through_Open_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Development</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheet_Entries</name>
        <label>Get Time Sheet Entries</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Project_Set_Cost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billable_Hours__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Sheet_Entries__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Burn_Rate_on_Account</name>
        <label>Update Burn Rate on Account</label>
        <locationX>358</locationX>
        <locationY>1823</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Burn_Hours__c</field>
            <value>
                <elementReference>numTotalTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Hours_for_Open_Projects__c</field>
            <value>
                <elementReference>numProjectedHours</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>358</locationX>
        <locationY>1115</locationY>
        <connector>
            <targetReference>Get_Open_Projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Cost__c</field>
            <value>
                <elementReference>currTotalCost</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Sheet_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Billable_Hours__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Time_Sheet_Entries__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currTotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numProjectedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numTotalTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpenProjects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
