force-app/main/default/flows/RT_AS_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Actual_Completed_Date</name>
        <label>Set Actual Completed Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Actual_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Invoice_Sub</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Project_Completed</name>
        <label>Project Completed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invoiced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Actual_Completed_Date</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <description>This flow will hold the subflows for anything that happens to the Project Object.</description>
    <interviewLabel>RT-AS-Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-AS-Project-Status Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Completed</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Invoice_Sub</name>
        <label>Create Invoice</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Project</targetReference>
        </connector>
        <flowName>Create_Quickbooks_Invoice_from_Project_Record</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>jsonCreateInvoice</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
&quot;recordId&quot;:&quot;{!$Record}&quot;
}</text>
    </textTemplates>
</Flow>
