force-app/main/default/flows/Timesheet_Entry_Set_End_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_End_DateTime_Value</name>
        <label>Set End DateTime Value</label>
        <locationX>506</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Time_Entries_Where_There_is_No_End_Date.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Time_Entries_Where_There_is_No_End_Date.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Time_Entries_Where_There_is_No_End_Date.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Time_Sheet_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Burn_Rate_Notification_email</name>
        <label>Burn Rate Notification email?</label>
        <locationX>506</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_email_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Burn_Rate_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, email found</label>
        </rules>
        <rules>
            <name>No_email_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Burn_Rate_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>No email found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Selection</name>
        <label>Check Type Selection</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_End_DateTime_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_type_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bluewave Consulting Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Enter_End_Time</targetReference>
            </connector>
            <label>No type selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_email_found</name>
        <label>Notification email found?</label>
        <locationX>506</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_email_found_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Burn_Rate_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project</targetReference>
            </connector>
            <label>Yes email found</label>
        </rules>
    </decisions>
    <description>Quickly Allows End user to fill in end time</description>
    <environments>Slack</environments>
    <interviewLabel>Timesheet Entry - Set End Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheet Entry - Set End Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>506</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_email_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Entries_Where_There_is_No_End_Date</name>
        <label>Get Time Entries Where There is No End Date</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_End_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Time_Sheet_Entries__c</object>
        <sortField>Start_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>374</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Burn_Rate_Notification__c</field>
            <value>
                <elementReference>Get_Account.Burn_Rate_Notification__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet_Record</name>
        <label>Update Time Sheet Record</label>
        <locationX>506</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Burn_Rate_Notification_email</targetReference>
        </connector>
        <inputReference>Get_Time_Entries_Where_There_is_No_End_Date</inputReference>
    </recordUpdates>
    <screens>
        <name>Enter_End_Time</name>
        <label>Enter End Time</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Type_Selection</targetReference>
        </connector>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Time_Entries_Where_There_is_No_End_Date.Start_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(179, 0, 0); font-size: 16px;&quot;&gt;You can not enter a time greater than 4 hours. Please do multiple entries to ensure clear communication to the client of the work that was done.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>({!End_Time} - {!Start_Time}) * 24 &lt; 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Time_Entries_Where_There_is_No_End_Date.Type__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Account__r.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Bluewave Consulting Group</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>displayText_ChooseType</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(179, 0, 0);&quot;&gt;Please choose a type for this time entry.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Account__r.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Bluewave Consulting Group</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!Get_Time_Entries_Where_There_is_No_End_Date.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Time_Entries_Where_There_is_No_End_Date</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
