force-app/main/default/flows/Timesheet_Entry_Set_End_Time_Bluewave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_End_DateTime_Value</name>
        <label>Set End DateTime Value</label>
        <locationX>506</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Time_Entries_Where_There_is_No_End_Date.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Time_Entries_Where_There_is_No_End_Date.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Time_Entries_Where_There_is_No_End_Date.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Time_Entries_Where_There_is_No_End_Date.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Type_of_Work</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Time_Sheet_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Project</name>
        <label>Set Project</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bluewave_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Time_Entries_Where_There_is_No_End_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Burn_Rate_Notification_email</name>
        <label>Burn Rate Notification email?</label>
        <locationX>506</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_email_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Burn_Rate_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, email found</label>
        </rules>
        <rules>
            <name>No_email_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Burn_Rate_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>No email found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Type_Selection</name>
        <label>Check Type Selection</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_End_DateTime_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_type_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bluewave Consulting Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Time_Entries_Where_There_is_No_End_Date.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Enter_End_Time</targetReference>
            </connector>
            <label>No type selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notification_email_found</name>
        <label>Notification email found?</label>
        <locationX>506</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_email_found_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Burn_Rate_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project</targetReference>
            </connector>
            <label>Yes email found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>picklistType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Time_Sheet_Entries__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recBluewaveProjects</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0015e000010emk4AAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Slack</environments>
    <interviewLabel>Timesheet Entry - Set End Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheet Entry - Set End Time - Bluewave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>506</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_email_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Entries_Where_There_is_No_End_Date</name>
        <label>Get Time Entries Where There is No End Date</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_End_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Time_Sheet_Entries__c</object>
        <sortField>Start_Date_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project</name>
        <label>Update Project</label>
        <locationX>374</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Time_Entries_Where_There_is_No_End_Date.Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Burn_Rate_Notification__c</field>
            <value>
                <elementReference>Get_Account.Burn_Rate_Notification__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Time_Sheet_Record</name>
        <label>Update Time Sheet Record</label>
        <locationX>506</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Burn_Rate_Notification_email</targetReference>
        </connector>
        <inputReference>Get_Time_Entries_Where_There_is_No_End_Date</inputReference>
    </recordUpdates>
    <screens>
        <name>Enter_End_Time</name>
        <label>Enter End Time</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Type_Selection</targetReference>
        </connector>
        <fields>
            <name>Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Time_Entries_Where_There_is_No_End_Date.Start_Date_Time__c</elementReference>
            </defaultValue>
            <fieldText>Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>End Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_Type_of_Work</name>
            <choiceReferences>picklistType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Type of Work</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!Get_Time_Entries_Where_There_is_No_End_Date.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>What_Project</name>
        <label>What Project</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Project</targetReference>
        </connector>
        <fields>
            <name>Bluewave_Project</name>
            <choiceReferences>recBluewaveProjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bluewave Project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
