force-app/main/default/flows/Timesheet_Entry_New_Entry_Bluewave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Selected_Project</name>
        <label>Assign Selected Project</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bluewave_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_For_New_Record</name>
        <label>Set Values For New Record</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recTimesheetEntry.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time_New</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTimesheetEntry.Contract_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Pricing.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTimesheetEntry.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTimesheetEntry.Billable_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTimesheetEntry.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Work</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Timesheet_Entry</targetReference>
        </connector>
    </assignments>
    <description>Slack Available Flow for Adding a New Time Entry for Bluewave Client</description>
    <dynamicChoiceSets>
        <name>picklistTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Time_Sheet_Entries__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recBluewaveProjects</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0015e000010emk4AAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Project__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_ContractPricing</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contract_Pricing__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Slack</environments>
    <interviewLabel>Timesheet Entry - New Entry - Bluewave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheet Entry - New Entry - Bluewave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Timesheet_Entry</name>
        <label>Create New Timesheet Entry</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <inputReference>recTimesheetEntry</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Pricing</name>
        <label>Get Contract Pricing</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Time_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract_Pricing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract_Pricing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Time_Entry</name>
        <label>Add Time Entry</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Values_For_New_Record</targetReference>
        </connector>
        <fields>
            <name>Start_Date_Time_New</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Type_of_Work</name>
            <choiceReferences>picklistTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Work</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Billable</name>
            <dataType>Boolean</dataType>
            <fieldText>Billable?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>What_Project</name>
        <label>What Project</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Project</targetReference>
        </connector>
        <fields>
            <name>Bluewave_Project</name>
            <choiceReferences>recBluewaveProjects</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bluewave Project</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>txtWherePricingLookup</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Contract__c=&apos;{!Get_Project.Contract__c}&apos; AND IsActive__c=TRUE</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recTimesheetEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Sheet_Entries__c</objectType>
    </variables>
</Flow>
